<div class="row">
  <div class="small-6 small-centered columns">

    <h1>Edit <%= @character.name %></h1>
    <%= render 'form' %>
    <%= link_to "Back", characters_path %>
    <br>  

  </div>
</div>
